<div class="row">
  <%= simple_form_for(@workout, html: {class: "col s12"}) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :title, label: "Workout name", autofocus: true %>
        <%= f.input :description, label: "Workout description" %>
      </div>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>
<%= link_to "Cancel", root_path %>
<%= link_to "Add new Exercise", new_exercise_path %>
