<% if user_signed_in? %>
  <div class="row">
    <div class="col s12">
      <h3 class="center-align"> Workouts List </h3>
    </div>
    <div align="center">
        Add new Workout! -> <%= link_to '<i class="small material-icons">add_box</i>'.html_safe, new_workout_path %>
    </div>
  </div>
  <div class="container">
    <% @workouts.each do |workout| %>
      <% if workout.completed? %>
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><strike><%= link_to workout.title, workout %></strike></span>
              <p><%= workout.description %></p>
            </div>
            <div class="card-action">
              <a><%= link_to '<i class="small material-icons">delete</i>'.html_safe, workout, method: :delete, data: { confirm: "Are you sure?"} %></a>
              <p>Completed <%= time_ago_in_words(workout.completed_at) %> ago!</p>
            </div>
          </div>
        </div>
      <% else %>
        <div class="col s6 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title"><%= link_to workout.title, workout %></span>
              <p><%= workout.description %></p>
            </div>
            <div class="card-action">
              <a><%= link_to '<i class="small material-icons">done</i>'.html_safe, complete_workout_path(workout), method: :patch %></a>
              <a><%= link_to '<i class="small material-icons">delete</i>'.html_safe, workout, method: :delete, data: { confirm: "Are you sure?"} %></a>
              <a><%= link_to '<i class="small material-icons">playlist_add</i>'.html_safe, new_exercise_path(workout) %></a>
              <p>Created <%= time_ago_in_words(workout.created_at) %> ago!</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <div align="center">
      <%= will_paginate @workouts %>
    </div>
  </div>
<% else %>
  <%= render 'layouts/static_landing_page' %>
<% end %>
