<div class="container">
  <div class="row center, sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel">
        <div class="row">
          <%= simple_form_for @audit, html: {class: "col s12"} do |f| %>
            <%= f.label :Audit_name %>
            <%= f.text_field :name, label: "Audit name" %>
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-offset-2 col-sm-8">
                    <%= f.collection_check_boxes :workout_ids, Workout.all, :id, :title do |cb| %>
                      <% cb.label(class: "check_box") {cb.check_box(class: "check_box") + cb.text} %>
                    <% end %>
                  </div>
                </div>
              </div>
            <div class="col s12 m12 l12">
              <div class="row">
                <%= link_to "Cancel", :back, {:class=>"btn btn-default"} %>
                <%= f.button :submit %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
