<div class="row">
  <div class="col s12">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <div style="text-align:center">
        <span class="card-title"><%= @audit.name %></span>
        </div>
      </div>
      <div class="card-action">
        <a><%= link_to '<i class="small material-icons">arrow_back</i>'.html_safe, audits_path %></a>
        <a><%= link_to '<i class="small material-icons">edit</i>'.html_safe, edit_audit_path(@audit) %></a>
      </div>
    </div>
  </div>
</div>

<%= simple_form_for @audit_exercises do |f| %>
  <% if @audit.workouts.any? %>
    <div>
      <% @audit.workouts.each do |workout| %>
        <h4><%= workout.title %></h4>
        <table class="highlight">
          <thead>
          <tr>
            <th>Exercise Title</th>
            <th>Exercise Description</th>
            <th>Completed</th>
            <th>Comment</th>
          </tr>
          </thead>
          <tbody>
          <% workout.exercises.each do |exercise| %>
            <tr>
              <td><%= exercise.title %></td>
              <td><%= exercise.description %></td>
              <td>
                <select id="select" class="browser-default">
                  <option value="" disabled selected>Choose your option</option>
                  <%= f.input :complete, as: :select %>
                </select>
              </td>
              <td><%= f.input :comment, as: :text %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <%= f.button :submit %>
      <% end %>
    </div>
  <% end %>
<% end %>
