  <div class="container">
    <div class="col s12 m4">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <div style="text-align:center">
            <% obj.each do |exercise| %>
              <% if exercise.completed? %>
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                  <div class="well well-lg">
                    <div class="article-title">
                      <strike><%= link_to exercise.title, exercise_path(exercise) %></strike>
                    </div>
                    <div class="article-body">
                      <%= truncate(exercise.description, length: 100) %>
                    </div>
                    <div class="card-action">
                      <a><%= link_to '<i class="small material-icons">delete</i>'.html_safe, exercise, method: :delete, data: { confirm: "Are you sure?", remote: true }, class: "delete" %></a>
                    </div>
                  </div>
                </div>
              </div>
              <% else %>
              <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                  <div class="well well-lg">
                    <div class="article-title">
                      <%= link_to exercise.title, exercise_path(exercise) %>
                    </div>
                    <div class="article-body">
                      <%= truncate(exercise.description, length: 100) %>
                    </div>
                    <div class="card-action">
                      <a><%= link_to '<i class="small material-icons">delete</i>'.html_safe, exercise, method: :delete, data: { confirm: "Are you sure?", remote: true }, class: "delete" %></a>
                      <a><%= link_to '<i class="small material-icons">done</i>'.html_safe, complete_exercise_path(exercise), method: :patch %></a>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>