<div class="row"
  <%= simple_form_for(@exercise, html: {class: "col s12"}) do |f| %>
    <div class="row">
      <div class="input-field col s12">
        <%= f.input :title, label: "Exercise name", autofocus: true %>
        <%= f.input :description, label: "Exercise description" %>
      </div>
    </div>
    <%= f.button :submit %>
  <% end %>
</div>
  <%= link_to "Cancel", root_path %>
