<!DOCTYPE html>
<html>
  <head>
    <title>Sports Club</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <!--
    Following lines of code is the materialize navbar.
    -->
    <header>
      <ul id="dropdown1" class="dropdown-content">
        <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% if current_user.present? %>
            <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to "Log In", new_user_session_path %></li>
          <% end %>
      </ul>
      <nav>
        <div class="container">
          <div class="nav-wrapper">
            <%= link_to "Sports Club", root_path, class: "brand-logo" %>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Account<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Sports Club</h5>
            <p class="grey-text text-lighten-4">You can checklist what workouts you want to perform</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Info</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">About</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">Contact us</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
        © 2019 Sports Club
        <a class="grey-text text-lighten-4 right" href="#!">About</a>
        </div>
      </div>
    </footer>
  </body>
</html>
