<!DOCTYPE html>
<html>
  <head>
    <title>SportsClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    =begin
    Following 3 lines of code are links to navigate via app UI 
    used with embeded Ruby code.
    =end
    <%= link_to 'home', root_path %>
    <%= link_to 'about', about_path %>
    <%= link_to 'new class', classes_new_path %>
    <%= yield %>
  </body>
</html>
